/*****************************   MOBILE STYLES   ********************************/

body{
	width: auto;
	height: auto;
	background-color: #CCCCCC;
	padding: 1%;
}

h1 {
	text-align: center;
	font-family: 'VT323', monospace;
	font-size: 60px;
	margin: 1%;
}

.buttons {
	margin-left: 2%;
	display: block;
}

button {
	width: 79px; 
	height: 79px;
	background-color: black;
	color: white;
	font-family: 'VT323', monospace;
	font-size: 50px;
	border-radius: 20%;
}

button#sqrt{
	font-size: 45px;
}

.inputs {
	margin-left: 5%;
}

input {
	width: 40%; 
	height: 50px;
	margin-bottom: 10px;
	background-color: #999933;
	font-family: 'VT323', monospace;
	border-color: black;
	border-radius: 5px;
}

#input1, #input3 {
	text-align: center;
	font-size: 60px;
}

#input2 {
	width: 8%;
	text-align: center;
	font-size: 60px;
}
/*****************************   END OF MOBILE STYLES   ********************************/





/********************************   TABLET STYLES   *************************************/

@media (min-width:768px) {      	

h1 {
	font-size: 100px;
	margin: 0px;
}

body {
	margin-top: 0px;
}

button {
	height: 150px;
	width: 150px;
	font-size: 90px;
}

button#sqrt {
	font-size: 80px;
}

.buttons {
	margin-left: 7%;
}

.inputs {
	margin-left: 10%;
}

input {
	width: 36%;
	height: 15%;
}

#input1, #input3 {
	text-align: center;
	font-size: 90px;
}

#input2 {
	width: 8%;
	text-align: center;
	font-size: 90px;
}

}
/******************************   END OF TABLET STYLES   ********************************/





/*******************************   DESKTOP STYLES   *************************************/

@media (min-width:940px) { 

h1 {
	font-size: 125px;
}

.buttons {
	margin-left: 30%;
}

button {
	height: 125px;
	width: 125px;
	font-size: 80px;
}

button:hover {
	background-color: grey;
}

button#sqrt{
	font-size: 75px;
}

input {
	width: 20%;
	height: 60px;
}

.inputs {
	margin-left: 31%;
}

#input1, #input3 {
	text-align: center;
	font-size: 80px;
}

#input2 {
	width: 8%;
	text-align: center;
	font-size: 80px;
}


} 
/******************************  END OF DESKTOP STYLES   ********************************/
