/*****************************   MOBILE STYLES   ********************************/

h1 {
	font-size: 200px;
	text-align: center;
	margin: 0px;
	padding-top: 70px;
}

img {
	display: none;
	width: 140px;
	height: 140px;
	position: relative;
}



/*****************************   END OF MOBILE STYLES   ********************************/





/********************************   TABLET STYLES   *************************************/

@media (min-width:768px) {  




}
/******************************   END OF TABLET STYLES   ********************************/





/*******************************   DESKTOP STYLES   *************************************/

@media (min-width:940px) { 




}
/******************************  END OF DESKTOP STYLES   ********************************/