html {
	font-family: 'Open Sans', sans-serif;
	/*background-image: url(background.jpg);*/
}
body { 
	color: #fff;
}

h1, h2, h4, .lead {
	font-family: 'Sanchez', serif;
	text-align: center;
	font-weight: bold;
}
h2 {
	font-size: 40px;
}
.lead {
	text-align: left;
}
section {
	/*background-color: #000;*/
}
.project {
	margin: 10px;
}
#about, #contact{
	background-color: #F5F5F5;
	color: #000;
}
.arrow, .arrow:hover, .arrow:active, .arrow:visited {
    font-size: 3.5em;
    color: #fff;
}
.aboutArrow, .aboutArrow:hover, .aboutArrow:active, .aboutArrow:visited {
	color: #000;
}

.portfolioImg {
	float: left;
}

#findMe {
    color: #fff;
    padding: 50px;
	/*background-image: url(background.jpg);*/
}

#findMe .row .social-box {
    float: none;
    display: inline-block;
    margin: 30px 0;
}

.icon-item .icon i {
    font-size: 50px;
    line-height: 1.7;
    color: #fff;
}
#findMe .row .social-box .it-second .icon:hover {
    background: #0084B4;
}
#findMe .row .social-box .it-third .icon:hover {
    background: #D34836;
}
#findMe .row .social-box .it-fourth .icon:hover {
    background-image: url(insta.png);
    background-size: 200px;
}
#findMe .row .social-box .it-fifth .icon:hover {
    background: #272727;
}
#findMe .row .social-box .it-sixth .icon:hover {
    background: #0077B5;
}

.icon-item .icon {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px !important;
    color: #FFF;
    border: 4px solid #FFF;
}

footer {
	background-color: #272727;
	color: #fff;
	padding: 20px;
}
